!cache/README.md
!cache/buildroot/root
!cache/buildroot/users

cache/buildroot/*
cache/kernel/*

stamp-*

*/.*.swp
.*.swp

build.log

*.ko
*.o
.tmp_versions
.*.ko.cmd
.*.mod.o.cmd
.*.o.cmd
Module.symvers
*.mod.c
modules.order
